<!DOCTYPE HTML>
<html lang="zh-cn">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>通用增删改查</title>

    <link href="/static/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css"
          rel="stylesheet"/>
    <link href="/static/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/static/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
    <link href="/static/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>
    <link href="/static/plugins/select2/css/select2.min.css" rel="stylesheet"/>

    <link href="/static/css/common.css" rel="stylesheet"/>
</head>
<body>
<div id="main">
    <div id="toolbar" class="col-md-12">
        <div class="col-md-7 text-left">
            <div class="form-group col-md-3 search-input">
                <label for="username">登录名</label>
                <input id="username" name="username" type="text" class="form-control">
            </div>
            <div class="form-group col-md-3 search-input">
                <label for="password">手机号</label>
                <input id="password" name="password" type="text" class="form-control">
            </div>
            <div class="form-group col-md-3 search-input">
                <label for="email">邮箱</label>
                <input id="email" name="email" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-5 text-right">
            <a class="waves-effect waves-button" href="javascript:;" onclick="activeAction()"><i class="zmdi zmdi-plus"></i>
                激活</a>
            <a class="waves-effect waves-button" href="javascript:;" onclick="createAction()"><i class="zmdi zmdi-plus"></i>
                新增</a>
            <a class="waves-effect waves-button" href="javascript:;" onclick="updateAction()"><i class="zmdi zmdi-edit"></i>
                编辑</a>
            <a class="waves-effect waves-button" href="javascript:;" onclick="deleteAction()"><i class="zmdi zmdi-close"></i>
                删除</a>
            <a class="waves-effect waves-button" href="javascript:;" onclick="refreshAction()"><i class="zmdi zmdi-refresh"></i>
                刷新</a>
        </div>
    </div>
    <table id="table"></table>
</div>
<!-- 新增 -->
<div id="crudDialog" class="crudDialog" hidden>
    <form id="formSubmit">
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="username">登录名</label>
            <input name="username" type="text" class="form-control">
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="password">初始密码</label>
            <input name="password" type="text" class="form-control">
        </div>
    </form>
</div>
<!-- 修改 -->
<div id="editDiaLog" class="crudDialog" hidden>
    <form id="formSubmit1">
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="username">登录名</label>
            <input name="username" type="text" class="form-control" readonly>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="password">新密码</label>
            <input name="password" type="text" class="form-control">
        </div>
    </form>
</div>
<script src="/static/plugins/jquery.1.12.4.min.js"></script>
<script src="/static/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="/static/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="/static/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/plugins/waves-0.7.5/waves.min.js"></script>
<script src="/static/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="/static/plugins/select2/js/select2.min.js"></script>
<script src="/static/plugins/layer/layer.js"></script>

<script src="/static/js/common.js"></script>
<script src="/static/js/admin/user/appUser.js"></script>
</body>
</html>